#bod {
    color: rgb(0, 255, 76);
  }
#h{
    color: rgb(43, 183, 226);
}
  #png {
    position: absolute;
    margin-left: 320px;
    margin-top: 50px;
    margin-right: 3px;
	  margin-bottom: 3px;
  }
  body {
    background-color: rgb(243, 11, 173);
  }